@import "bootstrap/scss/bootstrap";
body {
	font-family: Georgia, 'Times New Roman', Times, serif;
}

#profile-pic {
    width: 8rem;

}

.white-link {
    color: white
}

.custom-card-img {
	width: 100%; /* Gör bilden responsiv i bredd */
	height: 180px; /* Sätt en fast höjd */
	object-fit: cover; /* Se till att bilden täcker hela kortet */
  }

 a {
	color: rgb(0, 195, 255);
 }

 a:visited {
	color:darkgoldenrod;
 }

