@import "bootstrap/scss/bootstrap";
body {
	font-family: Georgia, "Times New Roman", Times, serif;
}

#profile-pic {
	width: 8rem;
}

.white-link {
	color: white;
}

.custom-card-img {
	width: 100%; /* Gör bilden responsiv i bredd */
	height: 180px; /* Sätt en fast höjd */
	object-fit: cover; /* Se till att bilden täcker hela kortet */
}

.framework {
	font-size: small;
	background-color: rgb(235, 169, 194);
	color: rgb(81, 32, 32);
	padding: 3px;
	border-radius: 2px;
}

.hover-border:hover {
	border-color: red !important;
	transform: translateY(-5px);
}

.icon:hover {
	color: red;
}
